<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuyRyt</title>
</head>
<body>
    <h3> All Courses</h3>
    <form action="/courses/new" method="get">
        <button>create new course</button>
    </form>
    <ul>
        <% for(let course of allCourses) {%>
            <li><a href="/courses/<%= course._id %>"><%= course.title %></a></li>
            <% } %>
    </ul>
</body>
</html>